<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

<%- include nav-bar %>

<div class="row top-10-down ">
	<div class="container-fluid col-lg-10 col-xs-12 col-lg-offset-1 bg-white box-shadow">
		<div class="row bg-primary"><h1>System Administration</h1></div>
			<div id="detailArea">
					<div class="form-group">
						<% configurationItemsArray.forEach((configItem) => { %>
							<div class="top-10-down">
							<% try { %>
								<h4><%= configItem._id %></h4>
							<% } catch { %>
							<% } %>
							<% try { %>
								<p><i><%= configItem.note %></i></p>
							<% } catch { %>
							<% } %>
							<% for (const [key, value] of Object.entries(configItem)) { %>
								<% if(key == `_id` || key == `note`) { %>
								<% } else { %>
									<% if(typeof value == `boolean`) { %>
										<div class="margin-20">
											<input class="form-check-input" type="checkbox" value="" id="<%= key %>" <% if(value == true){ %> checked <% } %>><label class="form-check-label" for="<%= key %>"><%= key %></label>
										</div>
									<% } else if(value.length < 25) { %>
										<label><%= key %></label><input class="form-control" rows="1" id="<%= key %>" value="<%=value%>"></input>
									<% } else { %>
										<label><%= key %></label><textarea class="form-control" rows="5" id="<%= key %>"><%=value%></textarea>
									<% } %>
								<% } %>
							<% } %>
						<% }); %>
					<button class="btn btn-success float-right margin-20" id="system-administration-save-button">Save</button>
					</div>
				</div>
			</div>
	</div>
</div>
<script src="system-administration/js/system-administration.js"></script>
